:root{
  --primary:#0A4D8C;
  --secondary:#2F80ED;
  --light:#EAF4FF;
  --white:#ffffff;
}

body{
  margin:0;
  font-family: 'Segoe UI', sans-serif;
  background:var(--light);
}

.page-title{
  text-align:center;
  font-size:32px;
  font-weight:700;
  color:var(--primary);
  margin-bottom:30px;
}

.container{
  max-width:900px;
  margin:auto;
}

.card{
  background:var(--white);
  border-radius:12px;
  padding:25px;
  box-shadow:0 8px 20px rgba(0,0,0,0.1);
}

.btn{
  background:var(--secondary);
  border:none;
  padding:12px 25px;
  color:white;
  border-radius:8px;
  cursor:pointer;
}

.btn:hover{
  background:var(--primary);
}